.text-alert{
    top: 10%;
    left: 50%;
    width:200px;
    height: 50px;
    color: white;
    position: absolute;
    background:transparent;
    outline: none;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    transition:.4s;
    z-index: 4;  
    transform: translateX(-50%);
    
}
.camera-layer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: transform 0.5s ease-in-out;
}
.camera-layer.move-up {
    transform: translateY(-100px); 
  }
.mycamera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
.camera-start{
    display: block;
    margin-bottom: 600px; 
    width: 80px;
    height: 40px;
    background:transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    transition:.4s;
}
.camera-start:hover{
    background:#FFF;
    color:#162938;
}
.my-webcam {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
  }
.camera-layer {
    position: relative;
    text-align: center;
    z-index: 2;
}
  