.upload-video-label {
    font-size: 20px; 
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: italic;
}
.upload-image-label {
    font-size: 20px; 
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: italic;
}
.upload-form{
    position: absolute;
    margin-left: 90px;
    top:30px;
}
.submitButton{
    background-color:black;
    margin-left: 125px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    transition:.4s;
}
.submitButton:hover {
    background:#fff;
    color:rgb(0, 0, 0);
}